body{
  
  background-color: rgb(36, 32, 32);
}

.heading{
  text-align: center;
  color: white;
}

.lightsPic{
display: flex;
justify-content:center;
}

.pic{
  height: 350px;
}

.descriptionOflights{
  color: white;
  text-align: center;
}

.detailsContainer{
  margin: 2px 12px 0px 12px;
  height: 350px;
  width: 1200px
}

.infoBox{
  padding: 1px 0px 0px 0px;
  margin: 0px 25px 0px 25px;
  background-color: grey;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);

  h2{
    text-align: center;
  }
}

/* .info-pic-style{
  height: 150px;
} */

ul{
  padding: 0px 0px 0px 20px;
  list-style: none;
  display: flex;
  
}

.list-style{
  margin: 0px 20px 0px 0px;
  
  img{
    height:200px;
    width: 262px;
    border-radius: 10px;
    
  }
  p{
    text-align: justify;
    margin: 9px 0px 20px 0px
  }
  
  h3 {
    text-align: center;
    margin: 2px 0px 2px 2px;
  }

}


h2{
  color: white;
}

menu{
  list-style: none;
  display: flex;
  button{
    /* background-color: rgb(97, 158, 224); */
    background-color:rgb(57, 55, 55);
    color:white;
    border-radius: 5px;
    border-color: transparent;
    margin: 0px 8px 15px 8px;
  }
  button:hover{
    cursor: pointer;
    
  }
}

.selectedTopic{
  color: white;
}

.tab-content{
  
  p{
    color:white;
  }
.hh{
  color: white;
}

background-color:brown;
padding: 0px 4px 0px 6px;
margin: 0px 0px 100px 12px;
height:fit-content;
width: 35%;
border: 20px;
}

.before{
  color: white;
}

#examples menu button.tapped{
  background-color: aqua;
}